<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar nav-tabs navbar-expand-sm navbar-dark bg-dark">
  <div class="container">  
    <!--<a class="navbar-brand" href="#">CEC</a> -->
    <a class="navbar-link nav-item" [routerLink]="['/home']">Home</a>             
    <div class="dropdown" > 
      <a class="nav-item nav-link dropdown-toggle" id="patientDropdown"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
        Patient</a>
      <div class="dropdown-menu" aria-labelledby="patientDropdown">
        <a class="dropdown-item" [routerLink]="['/patientRegister']">Registration</a>
        <a class="dropdown-item" href="#">Reports</a>
        <a class="dropdown-item" href="#">Something else</a>
      </div>
    </div>

    <div class="dropdown" > 
        <a class="nav-item nav-link dropdown-toggle" id="staffDropdown"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
          Staff</a>
        <div class="dropdown-menu" aria-labelledby="staffDropdown">
          <a class="dropdown-item" href="#">Registration</a>
          <a class="dropdown-item" href="#">Reports</a>
          <a class="dropdown-item" href="#">Something else</a>
        </div>
      </div>

        <div class="dropdown" > 
          <a class="nav-item nav-link dropdown-toggle" id="officeDropdown"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
            Office</a>
          <div class="dropdown-menu" aria-labelledby="officeDropdown">
            <a class="dropdown-item" href="#">Registration</a>
            <a class="dropdown-item" href="#">Reports</a>
            <a class="dropdown-item" href="#">Something else</a>
          </div>
        </div>

        <div class="dropdown" *ngIf="isClientAdmin()" > 
          <a class="nav-item nav-link dropdown-toggle" id="officeDropdown"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
            Admin</a>
          <div class="dropdown-menu" aria-labelledby="officeDropdown">
            <a class="dropdown-item"  [routerLink]="['/manageUsers']">Mange Users</a>
            <a class="dropdown-item" href="#">Remove User</a>
            <a class="dropdown-item" href="#">Modify User</a>
          </div>
        </div>

        

        <div class="dropdown" *ngIf="isPMSAdmin()" > 
          <a class="nav-item nav-link dropdown-toggle" id="officeDropdown"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
            PMS</a>
          <div class="dropdown-menu" aria-labelledby="officeDropdown">
            <a class="dropdown-item"  [routerLink]="['/manageUsers']">Manage Client</a>
   
          </div>
        </div>


              
       <div class="input-group w-25">
        <input id="searchInput" class="form-control" type="search" placeholder="Search" aria-label="Search"  
        [(ngModel)]='searchText' [ngModelOptions]="{standalone: true}">
       <div class="input-group-append">
        <a id="gobutton" [routerLink]="['/patientSearch', searchText]" class="ml-0"><button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Go</button></a>
      </div>
      <button *ngIf="!isLoggedIn" class="navbar-link nav-item" (click)="login()">Login</button>  
      <button *ngIf="isLoggedIn" class="navbar-link nav-item" (click)="logout()">Logout</button>  
    </div>
     
       
        

  </div>
</nav>


  <router-outlet></router-outlet>



