/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-4.4.1-dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";


div.card-header {
 font-size: large;
}


div.card {
  margin-top: 10px
}

.table {
  margin-top: 5px
}

#dropdownMenu{
  border-style: solid;
  border-color: red;
}

.ng-invalid:not(form).ng-touched{
  border: 1px solid red;
}

label {
  font-size: small;
}

.errorField{
  font-size: smaller;
}

legend{
  font-size: medium;
}
h2, h4{
  font-family: 'Times New Roman', Times, serif, sans-serif;
}
body{
  background-color: #e9f2f0;
  font-family: Roboto, Arial, sans-serif;
  font-size: medium;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 2px;
}
